/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    background: #FF900E;
    color: #ffffff;
    height: 64px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    margin-top: 32px;
}

.btn-secondary {
    background: #FF900E;
    color: #ffffff;
    height: 150px;
    width: 250px;
    font-size: 25px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
}

/* -------------
    Header 
-------------*/

/* Menu */
header {
    background-color: rgba(255, 143, 15, 0.1);
    height: 1322px;
}

header .container .header-menu-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
}

.header-logo h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.navigation nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navigation nav ul li {
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    margin-left: 80px;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #424242;
}

.navigation nav ul li a:hover {
    color: orangered;
}

/* Header Info Part */
header .container .header-info-section {
    width: 868px;
    text-align: center;
    margin: 100px auto 0;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}

header .container .header-info-section .header-info-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-top: 18px;
}

/* Header Banner */
.header-banner {
    margin-top: 50px;
}


/* =============
Features Section
===============*/
.our-features {
    margin: 85px 0 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features-images {
    width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-description {
    width: 537px;
    font-weight: 500;
    line-height: 53px;
    /* background-color: #ffd5a6; */
}

.features-description h3 {
    font-size: 45px;
}

.features-description h3 span:first-child {
    color: #727272;
}

.features-description h3 span:nth-child(2) {
    color: #131313;
}

.features-description h3 span:nth-child(3) {
    color: #FF900E;
}

.features-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
}

/* ==============
Offers Section
=============== */
.offers-features {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0 85px;
    position: relative;
}

.offers {
    width: 586px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-banner {
    width: 800px;
    text-align: right;
}

.offer-banner img {
    width: 700px;
}

.offers-title-part {
    margin-bottom: 30px;
}

.offers-title-part h3 {
    width: 468px;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.offers-title-part p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.offers-features .offers .offers-description-part {
    width: 514px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 2px #ececec;
    margin-bottom: 20px;
    padding: 20px 42px 30px 30px;
}

.offers-features .offers .offers-description-part h3 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.offers-features .offers .offers-description-part p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

#button {
    position: absolute;
    top: 850px;
    left: 630px;

}

#button .btn-secondary h3 {
    font-size: 40px;
}







/* =============
Media Queries 
================*/

/* For mobile device */
@media only screen and (max-width:576px) {

    body {
        width: 576px;
        margin: 0 auto;
    }

    header {
        background-color: #fff;
    }

    header .container .header-menu-part {
        flex-direction: column;
    }

    .navigation nav ul {
        flex-direction: column;
    }

    .navigation nav ul li {
        margin: 10px 0;
    }

    /* info section */
    header .container .header-info-section {
        margin: 35px auto 50px;
    }

    /* Feature */
    .our-features {
        flex-direction: column;
    }

    .features-images {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .features-description {
        margin-top: 60px;
        text-align: center;
    }

    /* offers section */
    .offers-features {
        flex-direction: column;
    }

    .offer-banner {
        margin-top: 50px;
    }

    #button {
        top: 1855px;
        left: 640px;
    }

}